<h1>About Sala Verde</h1>
<p>A web app that allows kindergarten parents to update their offspring’s birthdate and place where they will celebrate 
	the birthday party (Ruby on Rails, Geocoder, Google maps for Rails gems, Google maps V3, Bootstrap)</p>
