<h1>Acerca de Sala Verde</h1>
<p>Una aplicación web que permite a los padres de una sala de jardin de infantes
	actualizar la fecha de cumplea&ntildeos y el lugar de festejo del mismo 
	(Ruby on Rails, Geocoder, Google maps for Rails gems, Google maps V3, Bootstrap)</p>
