<footer class="footer">
  <small>
    <%= t ".footer_by" %>
  </small>
  <nav>
	<ul>
	  <li><%= link_to (t ".footer_about"), static_pages_about_path %></li>
	  <li><a href="http://tigerstrip.es/">Tigerstripes</a></li>
	</ul>
  </nav>
</footer>