<footer class="footer">
  <small>
    Sala Verde 2014 por Gustavo Pessacq
  </small>
  <nav>
	<ul>
	  <li><%= link_to "Acerca de Sala Verde", static_pages_about_path %></li>
	  <li><a href="http://tigerstrip.es/">Tigerstripes</a></li>
	</ul>
  </nav>
</footer>